<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" media="screen" href="/css/index.css">
    <link rel="stylesheet" media="screen" href="/css/utils.css">
    <link rel="stylesheet" media="screen" href="/css/messages.css">
    <link rel="icon" href="/resources/images/logo_64.png">
    <title>Mensajes | 404AW</title>
</head>
<body>
    <%- include('header') %>

    <div class="content-body">
        <div class="inbox">
            <span class="page-title">Mensajes recibidos</span>
            <div class="messages">
                <% messages.forEach(function(message){ %>
                    <div class="message">
                        <div class="user">
                            <a href="/usuarios/perfil/<%= message.userID %>"><img src="/imagen/<%= message.img %>" alt="user-img" class="user-img"></a>
                            <span class="username"><%= message.username %></span>
                        </div>
                        <p class="body-message"><%= message.message %></p>
                        <span class="date"><%= message.date %></span>
                        <form action="/mensajes/borrar/<%= message.msgID %>" method="POST">
                            <button class="btn btn-primary">Eliminar <i class="fa fa-trash"></i></button>
                        </form>
                    </div>
                <% }); %>
            </div>
            <div class="actions">
                <a class="btn btn-primary" href="/mensajes/enviar">Enviar mensaje <i class="fa fa-paper-plane"></i></a>
            </div>
        </div>
    </div>
    
</body>
</html>